.emailList {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.emailList::-webkit-scrollbar {
  display: none;
}
.emailList__settings {
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: sticky;
  top: 0px;
  border-bottom: 1px solid whitesmoke;
  padding-right: 10px;
  z-index: 999;
}
.email__sections {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid whitesmoke;
  z-index: 999;
}
.emailList__lists {
  /* padding-bottom: 20%; */
  flex-grow: 1;
}
